.login {
    height: 100vh;
    width: 100%;
    background-color: #00113d;
}
.logoImg {
    width: 15%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 3%;
}
.conteinerLogin{
    padding: 11%;
    height: 24rem;
}
