.title{
    color: #081B4E;
    font-family: Epilogue;
    font-family: Epilogue;
    font-size: 24px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-align: left;


}
.barra{
    color: #F43724;
    font-family: Epilogue;
}
.subTitle{
    color: #777777;
    font-family: Epilogue;
}
.containerTabs{
    padding-top: 8%;
    padding-right: 5%;
    padding-left: 5%;
}
.imgVisaoGeral{
    height: 81%;
    width: 88%;
    padding-left: 16%;
}
.subText{
    color: #667085;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}