.title{
    color: #081B4E;
    font-family: Epilogue;
    font-family: Epilogue;
    font-size: 24px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-align: left;


}
.barra{
    color: #F43724;
    font-family: Epilogue;
}
.subTitle{
    color: #777777;
    font-family: Epilogue;
}
.containerTabs{
    padding-top: 8%;
    padding-right: 5%;
    padding-left: 5%;
}