.textLogin{
    color: #081B4E;
    font-size: 30px;
}
.ponto{
    color: #F43724;
}
.labelLogin{
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}
.dropdown{
   border-color: #c4c3c3;
   width: 100%;
   text-align: left;
}
.btnEntrar{
    background-color: #00113D;
    float: right;
}