.divNav {
    background-color: aliceblue;
}
.colNav{
    background-color: aliceblue;
}
.logoAzulImg{
    height: 6%;
    width: 55%;
}
.navLink{
    color: black;
    font-family: Epilogue;
    font-size: 14px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: -0.03em;
    text-align: left;

}